In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import csv
import os

In [5]:
empleados = pd.read_csv('lista_empleados.csv')
empleados.head()

,NUM. EMPLEADO,NOMBRE,SEXO,DEPARTAMENTO,PUESTO
0,16,DIANA LOPEZ TAPIA,Femenino,SEC. PART. PRESIDENTE,"SECRETARIA ""A"""
1,32,WENDY JAZMIN VERA ROLDAN,Femenino,OFICINA DE CONST. Y CERTIF. OFICIALES,"SECRETARIA ""B"""
2,33,JOSE LUIS DIAZ CURIEL,Masculino,DIRECCIÓN DE RASTRO MUNICIPAL,CARGADOR
3,36,ISMAEL CRUZ TAPIA,Masculino,DIRECCIÓN DE RASTRO MUNICIPAL,CARGADOR
4,37,NORMA ELOISA CRUZ OCADIZ,Femenino,DIRECCIÓN DE REGLAMENTOS Y ESPECTACULOS,"SECRETARIA ""C"""

In [6]:
tabla_fallas = pd.read_csv('reporte_fallas.csv')
file_to_load = os.path.join('reporte_fallas.csv')
tabla_fallas

Empty DataFrame
Columns: [NUM. EMPLEADO, NOMBRE, DEPARTAMENTO, PUESTO, NUM. TICKET]
Index: []

In [7]:
st_total = 0
st_ticket = []

with open(file_to_load) as reporte_fallas:
    
    reader = csv.reader(reporte_fallas)
    header = next(reader)
    
    for row in reader:
        
        print(". ", end = ""),
        
        st_contador = st_contador + 1
        
        st_reporte = row[4]
        
        if st_reporte not in st_ticke:
            st_ticket.append(st_reporte)

In [ ]:
num_empleado = int(input('Por favor indique su Num. de Empleado, '))

print("Bienvenido al Sistema CAS,", empleados.loc[empleados['NUM. EMPLEADO'] == num_empleado,'NOMBRE'].iloc[0])

print(f"-----------------------------------------\n"
     f"Para Servicios Tecnologicos (1)\n"
     f"Para Redes o Telecomunicacion (2)\n"
     f"Para Desarrollo de TICs (3)\n"
     f"-----------------------------------------\n")

reporte_falla = input('Por favor indique la opción deseada: ')

st_contador = 0

for ST in range(1000):
    
        if(reporte_falla != "1"):
            break
            
        if(reporte_falla == "1"):
            st_contador = st_contador + 1
                    
        if(st_contador <= 9):
            print("Su Numero de Ticket es")
            print("-----ST000",st_contador,"-----")
            break
        elif(st_contador <= 99):
            print("Su Numero de Ticket es")
            print("-----ST00",st_contador,"-----")
            break
        elif(st_contador <= 999): 
            print("Su Numero de Ticket es")
            print("-----ST0",st_contador,"-----")
            break

prioridad = reporte_falla
if(prioridad == "1"):
    print("Prioridad")
    print("-----A-----")
    print("Tiempo aproximado de espera 10 min")

    
rt_contador = 0

for RT in range(1000):
    
    if(reporte_falla != "2"):
        break
        
    if(reporte_falla == "2"):
        rt_contador += 1 
        
    if(rt_contador <= 9):
        print("Su Numero de Ticket es")
        print("-----RT000",rt_contador,"-----")
        break
    elif(rt_contador <= 99):
        print("Su Numero de Ticket es")
        print("-----RT00",rt_contador,"-----")
        break
    elif(rt_contador <= 999):
        print("Su Numero de Ticket es")
        print("-----RT0",rt_contador,"------")
        break

prioridad = reporte_falla

if(prioridad == "2"):
    print("Prioridad")
    print("-----B-----")
    print("Tiempo aproximado de espera 20 min")
    
dt_contador = 0

for DT in range(1000):
    
    if(reporte_falla != "3"):
        break
        
    if(reporte_falla == "3"):
        dt_contador += 1
        
    if(dt_contador <= 9):
        print("Su Numero de Ticket es")
        print("-----DT000",dt_contador,"-----")
        break
    elif(dt_contador <= 99):
        print("Su Numero de Ticket es")
        print("-----DT00",dt_contador,"-----")
        break
    elif(dt_contador <= 999):
        print("Su Numero de Ticket es")
        print("-----DT0",dt_contador,"-----")
        break

prioridad = reporte_falla

if(prioridad == "3"):
    print("Prioridad")
    print("-----C-----")
    print("Tiempo aproximado de espera 30 min")